.displaytask{
  padding-top: 10px;
  padding-left: 50px;

}


/*....................*/

.displaytask ul {
  margin: 0;
  padding: 0;
}

.displaytask ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.displaytask ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.displaytask ul li:hover {
  background: #ddd;
}

/* .displaytask ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.displaytask ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */


